@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/fonts/NeueHaasDisplay-Mediu.eot');
  src: local('NeueHaasDisplay-Mediu'),
  url('/assets/fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/NeueHaasDisplay-Mediu.woff2') format('woff2'),
  url('/assets/fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
  url('/assets/fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/fonts/NeueHaasDisplay-RomanItalic.eot');
  src: local('NeueHaasDisplay-RomanItalic'),
  url('/assets/fonts/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
  url('/assets/fonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
  url('/assets/fonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
