.burger__line{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: auto auto 0;
  position: absolute;
  transition: all .3s ease-in-out;
}

.burger__line_first {
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger__line_second {
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger_active {
  .burger__line_second {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .burger__line_first {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
